html {
    background: #000000;
    background-image:
        linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%); /*https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient*/
}

/* body look */

body {
    background: #404040;
    color: #f2f2f2	; /*text*/
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1000px;
    padding: 2em 2em 6em;
}

/* headers */

h1, h2, h3, h4, h5, h6 {
    color: #f2f2f2;
    font-weight: 600;
    line-height: 1.3;
}


h1 {margin-bottom: 0em}

h2 {
    margin-top: 0.1em;
    color: #c8c5c7;
}

/* link text */
a {
    color: #f2f2f2;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    background: transparent;
    margin: 1.3em auto;
    max-width: 95%;
}

.CA {
  fill: #94d31b;
}

.CA:hover {
  fill: #ace63c;
}

/* test */

.visualization {
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus__bar {
  fill: coral;
}
.focus__text {
  fill: white;
}

.bar--1 {
  fill: DarkCyan;
}

.bar--2 {
  fill: white;
}
