html {
    background: #000000;
    background-image:
        linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%); /*https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient*/
}

/* body look */

body {
    background: #404040;
    color: #f2f2f2	; /*text*/
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1300px;
    padding: 2em 2em 6em;
}

/* headers */


h1, #footer {
  display: block;
  font-size: 60px;
  font-weight: 300;
}

h2, h3, h4, h5, h6 {
    color: #f2f2f2;
    font-weight: 300;
    line-height: 1.3;
}


h1 {margin-bottom: 0em}

h2 {
    margin-top: 0.1em;
    color: #c8c5c7;
}

/* link text */
a {
    color: #f2f2f2;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    background: transparent;
    margin: 1.3em auto;
    max-width: 95%;
}

.CA {
  fill: #94d31b;
}

.CA:hover {
  fill: #ace63c;
}

/* Images */
 img {
    background: transparent;
    margin: 1.3em auto;
    max-width: 95%;
}

 /* CA Object */
 .element{
    shape-outside: circle(55%);
    width: 300px;
    height: 300px;
    float: right;
    }

 /* line of plots */
 path {
	fill: none;
	stroke: #aaa;
    }
/* tip */
 /* hover  plots */
 div.tooltip {	
    position: absolute;			
    text-align: center;			
    max-width: 160px;					
    max-height: 280px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}



/* from ex */



#header, #footer {
  display: block;
  font-size: 36px;
  font-weight: 200;
}

#header.inverted, #footer.inverted {
  color: #fff;
  text-shadow: 0 1px 4px #000;
}

#header {
  top: 80px;
  left: 140px;
  width: 1000px;
}

#footer {
  top: 680px;
  right: 140px;
  text-align: left;
}



rect {
  fill: none;
  pointer-events: all;
}

pre {
  font-size: 18px;
}

line {
  stroke: #000;
  stroke-width: 1.5px;
}

.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}

a:link, a:visited {
  color: #000;
  text-decoration: none;
}


a:hover {
  color: #21b6be;
}


.hint {
  position: absolute
  right: 0
  width: 1280px;
  font-size: 22px;
  /*color: #999;*/
}


.axis {
    shape-rendering: crispEdges;
}

axis path{
    stroke-width: .5px;
    stroke: #666
} 
        
.axis line {
    fill: #666;
    stroke-width: .2px;
}
        
.axis text {
    fill: #f2f2f2; 
}

rect.pane {
    cursor: move;
    fill: none;
    pointer-events: all;
}




svg {
    height: 1100px;
    width: 200;
}
div.viz {
    height: 1000px;
    width: 1000px;
}

/* 

#chart, #header, #footer {
  position: absolute;
  top: 0;
}





.hint {
  position: absolute;
  right: 0;
  width: 1280px;
  font-size: 12px;
  color: #999;
}
        svg {
          font-size: 10px;
        }

        .axis {
          shape-rendering: crispEdges;
        }

        .axis path, .axis line {
          fill: none;
          stroke-width: .75px;
        }

        .x.axis path {
          stroke: #ddd;
        }

        .x.axis line {
          stroke: #fff;
          stroke-opacity: .5;
        }

        .y.axis line {
          stroke: #ddd;
        }

        path.line {
          fill: none;
          stroke: #ddd;
          stroke-width: .5px;
        }

        rect.pane {
          cursor: move;
          fill: none;
          pointer-events: all;
        }


*/

